.login-header {margin-bottom: 30px;}
.login-header .brand {font-size: 26px; color: #333333;}
.login-header .brand img {width: auto; height: auto;}
.login-header .brand span {display: block;}
.login-box .error input {color: #bd4247; border-color: #bd4247; }
.login-box .error .error_msg {color: #bd4247; display: block;}
.error .error_msg {color: #bd4247; display: inline}
table td.center, table th.center {text-align: center;}
.hidde-element {display: none;}

